.vector {
  width: 100vw;
  height: 100%;
  background-color: #00000099;

  backdrop-filter: blur(64px); /* Blur effect on background element */
  position: absolute;

  clip-path: polygon(
    100.076% 8.244%,
    100.076% 91.828%,
    100.076% 91.828%,
    100.196% 93.154%,
    100.475% 94.411%,
    100.791% 95.584%,
    101.021% 96.654%,
    101.043% 97.607%,
    100.735% 98.423%,
    99.974% 99.088%,
    98.639% 99.583%,
    96.607% 99.893%,
    93.757% 100%,
    7.056% 100%,
    7.056% 100%,
    3.926% 99.893%,
    1.684% 99.583%,
    0.199% 99.088%,
    -0.661% 98.423%,
    -1.027% 97.607%,
    -1.032% 96.654%,
    -0.806% 95.584%,
    -0.482% 94.411%,
    -0.191% 93.154%,
    -0.065% 91.828%,
    -0.065% 8.236%,
    -0.065% 8.236%,
    0.106% 6.911%,
    0.599% 5.654%,
    1.388% 4.481%,
    2.446% 3.41%,
    3.746% 2.458%,
    5.261% 1.641%,
    6.964% 0.977%,
    8.828% 0.481%,
    10.826% 0.172%,
    12.931% 0.065%,
    12.931% 0.065%,
    16.709% 0.16%,
    20.013% 0.417%,
    23.015% 0.797%,
    25.887% 1.257%,
    28.801% 1.759%,
    31.927% 2.26%,
    35.439% 2.721%,
    39.506% 3.101%,
    44.303% 3.358%,
    49.998% 3.453%,
    49.998% 3.453%,
    55.692% 3.358%,
    60.484% 3.101%,
    64.545% 2.721%,
    68.05% 2.26%,
    71.172% 1.759%,
    74.084% 1.257%,
    76.958% 0.797%,
    79.968% 0.417%,
    83.288% 0.16%,
    87.09% 0.065%,
    87.09% 0.065%,
    88.898% 0.172%,
    90.723% 0.481%,
    92.517% 0.977%,
    94.231% 1.641%,
    95.816% 2.458%,
    97.223% 3.41%,
    98.402% 4.481%,
    99.305% 5.654%,
    99.883% 6.911%,
    100.086% 8.236%,
    100.073% 8.244%,
    100.076% 8.244%
  );
}
