@use "variables";
@use "mixin";
@import "../../styles/LG/variables";

.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: variables.$white;
  padding-top: 100px;
}

.header {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 36px;
  z-index: 2;

  h2,
  p {
    text-align: center;
  }

  h2 {
    font-size: 36px;
    font-weight: 550;
    line-height: 40.32px;
    letter-spacing: -0.01em;
    text-align: center;

    margin-bottom: 16px;
    color: variables.$text-primary;
  }

  p {
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.84px;
    text-align: center;
    color: #1b1a1ede;
  }
}

.video-wrapper {
  width: 100%;
  overflow: hidden;

  video {
    width: 100%;
  }
}

@media screen and (max-width: ($max-md + px)) {
  .header {
    max-width: 670px;

    h2 {
      font-size: 36px;
    }
  }

  .container {
    padding-top: 86px;
  }
}

@media screen and (max-width: ($max-xs + px)) {
  .container {
    flex-direction: column-reverse;
    padding-top: 60px;
  }

  .header {
    padding-top: 60px;
    margin-top: -30px;
    align-items: flex-start;
    background-color: variables.$white;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;

    h2,
    p {
      text-align: left;
    }

    h2 {
      font-size: 32px;
      font-weight: 550;
      line-height: 35.84px;
      letter-spacing: -0.01em;
      text-align: left;
    }

    p {
      color: variables.$text-secondary;
    }
  }

  .video-wrapper {
    display: flex;
    justify-content: center;

    video {
      width: 125%;
      max-width: 125%;
    }
  }
}
