@use "variables";
@import "../../styles/LG/variables";

$arrow-active: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='18' fill='none'%3E%3Cpath fill='%23A50034' d='M9.5 3 8.443 4.058l4.184 4.192H3.5v1.5h9.127l-4.184 4.193L9.5 15l6-6-6-6Z'/%3E%3C/svg%3E");
$arrow-inactive: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='18' fill='none'%3E%3Cpath fill='%231B1A1E' fill-opacity='.26' d='M9.5 3 8.443 4.058l4.184 4.192H3.5v1.5h9.127l-4.184 4.193L9.5 15l6-6-6-6Z'/%3E%3C/svg%3E");

.container {
  width: 100%;
  height: 48px;

  &[data-btns-for="review"] {
    background-color: transparent;
    max-width: 200px;
    margin: 0 auto;

    .wrapper {
      margin: 0;
    }
  }
}

.wrapper {
  // width: 66%;
  padding: 0 70px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  button {
    border: none;
    outline: none;
    cursor: pointer;

    p {
      visibility: hidden;
      width: 0;
      height: 0;
    }
  }
}

button.prev-btn,
button.next-btn {
  width: 48px;
  height: 48px;
  position: relative;
  background-color: transparent;

  &::before {
    transform: translate(-50%, -50%);
    content: $arrow-active;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 18px;
    height: 18px;
  }

  &:disabled {
    &::before {
      content: $arrow-inactive;
    }
  }
}

button.prev-btn {
  &::before {
    transform: rotate(180deg) translate(50%, 50%);
  }
}

.indicator-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

button.slide-indicator {
  width: 8px;
  height: 8px;
  background-color: #1b1a1e42;
  border-radius: 50%;
  padding: 0;

  &[data-active="true"] {
    background-color: #a50034;
  }
}
