@import "../../styles/LG/variables.scss";
@import "../../styles/SJ/variables";

$overlay-color: #231f20;

.wrapper {
  padding: 0 25px 0 25px;
  width: 100%;
  background-color: #ffffff;
  max-width: 1600px;
  margin: 0 auto 0;

  * {
    margin: 0;
    padding: 0;
  }
}

.container {
  max-width: 1400px;
  height: fit-content;
  margin: auto;
}

.footer {
  p {
    color: $text-primary;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.64px;
    text-align: left;
  }
  margin-top: 15px;
}

.header {
  margin-bottom: 39px;

  h2 {
    color: $text-primary;
    margin-bottom: 16px;
    font-size: 32px;
    font-weight: 550;
    line-height: 35.84px;
    letter-spacing: -0.01em;
    text-align: left;
  }

  p {
    color: $text-secondary;
    font-size: 18px;
    line-height: 24px;
  }
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 64px;
}

.card {
  width: 100%;
  border-radius: 30px;
  overflow: hidden;
  position: relative;

  &::after {
    content: "";
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.4) 95%,
    );
  }

  &-image {
    transform: scale(1.4);
    min-width: 100%;
    object-fit: cover;
  }

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  container-type: inline-size;
}

.icon-color {
  width: 60px;
  height: 60px;
}

.overlay {
  background-color: $overlay-color;
  color: white;
  display: flex;
  justify-content: flex-start;
  border-radius: 30px 30px 0 0;
  padding: 20px 25px 25px 15px;
  gap: 10px;
  min-height: 155px;
  z-index: 20;
  align-items: center;
  transition: all 550ms ease;
  z-index: 31;

  h3 {
    font-size: 22px;
    font-weight: 550;
    line-height: 24.64px;
    letter-spacing: -0.01em;
    text-align: left;

    margin-bottom: 6px;
  }

  p {
    font-size: 14px;
    font-weight: 400;
    line-height: 19.32px;
    text-align: left;
  }

  img {
    width: 45px;
    height: auto;
  }
}

.overlay-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.icon {
  min-width: 48px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: auto 0 70px 0;
  width: 100%;
  transition: all 550ms ease;
  display: none;
}

@media screen and (min-width: ($max-sm + px)) {
  /* 
      TABLET 
  */

  .wrapper {
    padding-top: 103px;
  }

  .card {
    overflow: hidden;
  }

  .card-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
  }

  .footer {
    margin-top: 30px;
    padding-left: 20px;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 53px;

    h2 {
      max-width: 699px;
      font-size: 36px;
      font-weight: 550;
      line-height: 40.32px;
      letter-spacing: -0.01em;
      text-align: center;
    }

    p {
      max-width: 699px;
      text-align: center;
    }
  }

  .cards {
    flex-direction: row;
    gap: 10px;
    width: 100%;
    max-width: 1400px;
    height: 390px;

    &[data-hover="true"] {
      .card[data-active-card="false"] {
        min-width: 100px;
      }
    }

    &[data-hover="false"] {
      .card {
        width: 100%;
      }
    }
  }

  .card {
    height: 100%;
    background-size: auto 160%;
    position: relative;
    cursor: pointer;
    position: relative;
    border-radius: 32px;
    background-position: center;
    transition: width 350ms ease;
    width: 10%;

    .card-image {
      transition: all 350ms ease;
    }

    &[data-assets-id="fur-free-zone"] {
      &[data-active-card="false"] {
        .card-image {
          object-position: center;
        }
      }
    }

    &[data-assets-id="crumbs-confetti"] {
      &[data-active-card="false"] {
        .card-image {
          object-position: right;
        }
      }
    }

    &[data-assets-id="another-level"] {
      &[data-active-card="false"] {
        .card-image {
          object-position: -160px;
        }
      }
    }

    &[data-assets-id="cleaner-commutes"] {
      &[data-active-card="false"] {
        .card-image {
          object-position: 70%;
        }
      }
    }

    &[data-active-card="true"] {
      .icon {
        opacity: 0;
        transform: translateY(-40px);
      }

      .overlay {
        opacity: 1;
      }

      .card-image {
        max-width: 100%;
        transform: none;
      }
    }
  }

  .icon {
    display: block;
    width: 100%;
    height: 100%;
    // max-height: 60px;
    max-height: 40px;
    max-width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 30;
    margin-bottom: 40px;

    img {
      height: 100%;
    }
  }

  .card-image {
    transform: scale(1);
  }

  .overlay {
    border-radius: 34px;
    width: 340px;
    opacity: 0;
    bottom: 24px;
    left: 24px;
    position: absolute;

    h3 {
      font-size: 26px;
      line-height: 29px;
    }

    img {
      height: 40px;
    }
  }

  .card[data-active-card="true"] {
    flex-grow: 1000;
    width: 100%;
    min-width: 100px;
  }
}

@media screen and (min-width: ($max-md + px)) {
  /* DESKTOP */

  .wrapper {
    padding-top: 0;
  }

  .header {
    margin-bottom: 41px;
    p,
    h2 {
      max-width: none;
    }

    h2 {
      font-size: 36px;
      font-weight: 550;
      line-height: 40.32px;
      letter-spacing: -0.01em;
      text-align: center;
    }
  }

  .icon {
    max-width: 180px;
    max-height: 60px;
    margin-bottom: 70px;

    img {
      height: 100%;
    }
  }

  .cards {
    height: 700px;
    gap: 19px;
  }

  .card {
    height: 100%;
    min-width: 100px;
    border-radius: 32px;

    &[data-assets-id="cleaner-commutes"] {
      .overlay {
        padding: 27px;
      }
    }

    &[data-assets-id="crumbs-confetti"] {
      .overlay {
        padding: 28px;
      }
    }

    &[data-assets-id="fur-free-zone"] {
      &[data-active-card="false"] {
        .card-image {
          object-position: -310px;
        }
      }
    }

    &[data-assets-id="crumbs-confetti"] {
      &[data-active-card="false"] {
        .card-image {
          object-position: right;
        }
      }
    }

    &[data-assets-id="another-level"] {
      &[data-active-card="false"] {
        .card-image {
          object-position: -300px;
        }
      }
    }

    &[data-assets-id="cleaner-commutes"] {
      &[data-active-card="false"] {
        .card-image {
          object-position: -480px;
        }
      }
    }
  }

  .footer {
    padding-left: 35px;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.64px;
    text-align: left;
    color: #1b1a1ede;
  }

  .overlay {
    height: 175px;
    border-radius: 32px;
    pointer-events: none;
    padding: 32px;
    gap: 23px;
    width: 450px;

    h3 {
      font-size: 30px;
      line-height: 32px;
      margin: 0;
    }

    p {
      font-size: 18px;
      line-height: 24px;
    }

    img {
      height: 60px;
    }
  }
}
