// Colors ----------------------------------------------------------------

// Background
$bg-primary: #f0ece4;
// Text
$text-primary: #1b1a1ede;
$text-secondary: #1b1a1e99;
// Basic
$white: #ffffff;

// Border Radius
$border-radius--lg: 64px;
$border-radius--md: 32px;