@use "variables";
@import "../../styles/LG/variables";

/* mobile first */
.wrapper {
  background-color: white;
  width: 100%;
  padding-top: 60px;
}

.container {
  border-radius: 32px;
  overflow: hidden;
  position: relative;
  max-width: 390px;
  margin: 0 auto;
}

.content {
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0 34px;
}

.title {
  font-weight: 550;
  font-size: 32px;
  line-height: 35.84px;
  letter-spacing: -1%;
  margin-bottom: 8px;
}

.copy {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0%;
  margin-bottom: 24px;
}

.cta {
  max-width: 112px;
  margin-bottom: 24px;
}

.disclaimer {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0%;
  margin-bottom: 48.5px;
}

/* tablet */
@media (min-width: 750px) {
  .wrapper {
    padding-top: 86px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .container {
    max-width: 768px;
  }

  .content {
    padding: 0 70px;
  }

  .title {
    font-weight: 550;
    font-size: 36px;
    line-height: 40.32px;
    letter-spacing: -1%;
  }

  .copy {
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0%;
  }

  .cta {
    margin-bottom: 42px;
  }

  .disclaimer {
    margin-bottom: 26px;
  }
}

/* desktop */
@media (min-width: 1200px) {
  .wrapper {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    padding-left: 12px;
    padding-right: 12px;
  }

  .container {
    max-width: 1400px;
  }

  .content {
    padding: 9% 0 0 0;
    margin-left: 6%;
    height: 100%;
    max-width: 477px;
    right: unset;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .disclaimer {
    margin-top: auto;
  }
}
